.rmbg{
    background-color:rgba(105, 105, 105, 0.241);
}
.Recommendedmovies{
    height: 75vh;
    width: 80%;
    border: 3px solid transparent
}
.rc{
    border:2px solid transparent;
    background-color:black;
    border-radius: 10px;
    height: 400px;
    width: 254px;
}
.allRecommendedMovies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    color:honeydew;
}